.main-banner {
    background: url("../images/banner1.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.main__banner-container {
    text-align: center;
    color: white;
    transition: 2s;
}

.main__banner-container:hover {
    color: hsl(249, 90%, 39%);
}

.main__banner-title {
    font-size: 70px;
    margin: 20px; 
}

@media(max-width: 767px) {
    .main__banner-title {
        font-size: 50px;
    }
}

.main__banner-description {
    font-size: 22px;
    justify-content: center;
    margin-bottom: 60px;
}

@media(max-width: 767px) {
    .main__banner-description {
        font-size: 16px;
        font-weight: bold;
    }
}

.main-banner__button {
    background-color: hsla(0, 0%, 0%, 0.4);
    color: white;
    border: 2px solid white;
    padding: 20px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    transition: 0.5s;
}

@media(max-width: 767px) {
    .main-banner__button {
        font-size: 14px;
        padding: 10px 15px;
    }
}

.main-banner__button:hover {
    background-color: hsla(0, 0%, 0%, 0.8);
}